body{
  overflow: hidden;
  overflow-y: hidden;
}

video::-webkit-media-controls-play-button,
video::-webkit-media-controls-pause-button,
video::-webkit-media-controls-mute-button,
video::-webkit-media-controls-fullscreen-button,
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display,
video::-webkit-media-controls-seek-back-button,
video::-webkit-media-controls-seek-forward-button,
video::-webkit-media-controls-volume-slider-container,
video::-webkit-media-controls-volume-slider,
video::-webkit-media-controls-volume-control-container,
video::-webkit-media-controls-volume-more-options {
  cursor: url('./assets/cursor-pointer.png'), pointer;
}

.indicator{
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: fixed;
  right: 3%;
  bottom: 10%;
  z-index: 4;
  cursor: url('./assets/cursor-pointer.png'), pointer;
}

.indicator div{
  color: #6dbbd7;
}

.bi-caret-down-square-fill,
.bi-caret-up-square-fill {
    z-index: 3;
    font-size: 3rem;
    margin-top: .5%;
    margin-bottom: .5%;
    color: #ababab;
    text-shadow: 2px 2px 2px black;
    cursor: url('./assets/cursor-pointer.png'), pointer;
    transition: .4s ease-in-out;
}

.bi-caret-down-square-fill:hover,
.bi-caret-up-square-fill:hover {
    color: #858585;
}

.gh-cv-cont {
  position: fixed;
  font-size: 1.3rem;
  z-index: 6;
  left: 10px;
  top: 10px;
}

.git, .cv{
  margin-left: 10px;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  cursor: url('./assets/cursor-pointer.png'), pointer;
}

.git:hover>.bi-github, .cv:hover>.bi-file-earmark-person {
  color: #2b2b2b;
}

@media (max-width: 479px) {
  body{
    overflow: visible;
  }

  .indicator{
    display: none;
  }

  .bi-caret-down-square-fill, .bi-caret-up-square-fill{
    display: none;
  }

  .gh-cv-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(23, 23, 23);
    padding: 5px;
    border-radius: 10px;
    width: 98%;
    height: 45px;
    left: 3.5px;
    top: 3.5px;
    overflow: hidden;
  }
}