body{
  overflow: hidden;
}

.indicator{
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: fixed;
  right: 3%;
  bottom: 10%;
  z-index: 4;
  cursor: url('./assets/cursor-pointer.png'), pointer;
}

.indicator div{
  color: #6dbbd7;
}

@media (max-width: 479px) {
  body{
    overflow: visible;
  }

  .indicator{
    display: none;
  }

  .bi-caret-down-square-fill, .bi-caret-up-square-fill{
    display: none;
  }

}